<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>학생 정보 등록</title>
</head>
<body>
<form method="post" th:action="@{/student/register}">
    <span th:text="#{name}"/><input type="text" name="name"/><br/>
    <span th:text="#{email}"/><input type="text" name="email"/><br/>
    <span th:text="#{score}"/><input type="text" name="score"/><br/>
    <span th:text="#{comment}"/><textarea name="comment" rows="10" cols="80"></textarea><br/>
    <br/>
    <input type="submit"/>
</form>
<a href="/logout">
    <span>로그아웃</span>
</a><br/>

<a href="?locale=ko">
    <span>한국말</span>
</a><br/>

<a href="?locale=en">
    <span>영어</span>
</a>
</body>
</html>