<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>학생 정보 조회</title>
</head>
<body>
<span th:unless="${param.hideScore == yes}">
    <span th:text="#{name}"/><span th:text="${student.name}"/><br/>
    <span th:text="#{email}"/><span th:text="${student.email}"/><br/>
    <a th:href="@{'/student/' + ${student.id} + '/modify'}">정보수정</a>
    </span>

<span th:if="${param.hideScore == yes}">
            <span th:text="#{name}"/><span th:text="${student.name}"/><br/>
            <span th:text="#{email}"/><span th:text="${student.email}"/><br/>
            <span th:text="#{score}"/><span th:text="${student.score}"/><br/>
            <span th:text="#{comment}"/><span th:text="${student.comment}"/><br/>
            <a th:href="@{'/student/' + ${student.id} + '/modify'}">정보수정</a>
        </span><br/>
<a href="?locale=ko">
    <span>한국말</span>
</a><br/>
<a href="?locale=en">
    <span>영어</span>
</a>
</body>
</html>
